.container {
    display: flex;
    height: 100vh;
    background-image: url('../public/Screen Shot 2024-01-25 at 9.52.28 AM.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
.side-panel {
    width: 30%; 
    background-color: #f0f0f0; 
    height: 100vh;
    
  }